@import url(./font-face.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "visby-regular", sans-serif;
}

:root {
    --white-clr: rgb(255, 255, 255);
    --dark-gray-clr: rgb(51, 51, 51);
    --light-blue-clr: rgb(175, 153, 255);
    --dark-teal-clr: rgb(8, 143, 143);
    --gold-clr: rgb(255, 165, 0);
    --orange-clr: rgb(249, 138, 74);
    --transition-1: all 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: rgb(251, 251, 251);
}

.header-section {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.header-section .logo {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark-gray-clr);
    cursor: pointer;
}

.header-section ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section ul li {
    list-style: none;
    font-size: 21px;
    padding: 10px 30px;
    transition: var(--transition-1);
    cursor: pointer;
}

.header-section ul li:hover {
    background-color: var(--light-blue-clr);
    border-radius: 30px;
}

.header-section ul li:hover a {
    color: var(--white-clr);
}

.header-section ul li a {
    color: var(--dark-gray-clr);
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "visby-medium", sans-serif;
}

.header-section .icons {
    display: flex;
    gap: 20px;
}

.header-section .icons img {
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    transition: var(--transition-1);
    cursor: pointer;

    &:hover {
        background-color: rgb(80, 102, 0);
        filter: invert(1);
    }
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: url(../img/banner.jpg) center/cover;
    padding: 20% 10%;
}

.home-section span {
    font-size: 25px;
    color: var(--light-blue-clr);
    margin-bottom: 10px;
}

.home-section h1 {
    font-size: 75px;
    margin-bottom: 30px;
    color: var(--dark-gray-clr);
    font-family: "visby-semibold", sans-serif;
}

.home-section p {
    font-size: 28px;
    margin-bottom: 70px;
    color: var(--dark-gray-clr);
}

.home-section button {
    display: flex;
    align-items: center;
    padding: 17px 60px 20px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--white-clr);
    background-color: var(--dark-gray-clr);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 5px 0 rgba(from var(--dark-gray-clr) r g b / 0.5);
    cursor: pointer;

    &:active {
        transform: translateY(5px);
        box-shadow: none;
    }

    & img {
        margin-left: 20px;
        filter: invert(1);
        transition: var(--transition-1);
    }
}

.home-section button:hover > img {
    /* animation: home-section-button 1s linear; */
    transform: translateX(5px);
}

/* @keyframes home-section-button {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
} */

h2 {
    color: var(--dark-gray-clr);
    font-size: 50px;
    font-weight: bolder;
    font-family: "visby-semibold", sans-serif;
}

.collection-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5%;
}

.collection-section h2 {
    margin-bottom: 40px;
}

.sample-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px 0;
    width: 100%;
}

.sample {
    width: 390px;
    border-radius: 5px;
    overflow: hidden;
}

.sample-img {
    width: 100%;
    height: 500px;
    overflow: hidden;

    &:hover img {
        scale: 1.1;
    }

    & img {
        height: 100%;
        transition: var(--transition-1);
        cursor: zoom-in;
    }
}

.products-name {
    font-size: 25px;
    font-family: "visby-light", sans-serif;
    letter-spacing: 2px;
    margin-top: 25px;
}

.products-price {
    font-size: 25px;
    margin-top: 10px;
    font-family: "visby-semibold", sans-serif;
}

.products-rating {
    font-size: 22px;
    margin-top: 10px;
    color: var(--orange-clr);
    letter-spacing: 2px;
    font-family: "visby-semibold", sans-serif;

    & i {
        font-size: 17px;
        cursor: pointer;
    }
}

.customer-review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.customer-review-section h2 {
    margin-bottom: 60px;
}

.customer-reviews {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 100px;
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8% 20px;
    border-radius: 5px;
    border: 5px solid rgba(from var(--dark-gray-clr) r g b / 0.5);

    & img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

    & h3 {
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    & p {
        margin-top: 20px;
        text-align: center;
        letter-spacing: 2px;
        font-family: "visby-medium", sans-serif;
    }
}
